<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FinalProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/MySQLDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeGoalsServlet</display-name>
    <servlet-name>employeeGoalsServlet</servlet-name>
    <servlet-class>controller.employeeGoalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeGoalsServlet</servlet-name>
    <url-pattern>/employeeGoalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>goBackServlet</display-name>
    <servlet-name>goBackServlet</servlet-name>
    <servlet-class>controller.goBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>goBackServlet</servlet-name>
    <url-pattern>/goBackServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewGoalsServlet</display-name>
    <servlet-name>viewGoalsServlet</servlet-name>
    <servlet-class>controller.viewGoalsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewGoalsServlet</servlet-name>
    <url-pattern>/viewGoalsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeeAchievementsServlet</display-name>
    <servlet-name>employeeAchievementsServlet</servlet-name>
    <servlet-class>controller.employeeAchievementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeeAchievementsServlet</servlet-name>
    <url-pattern>/employeeAchievementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAchievementsServlet</display-name>
    <servlet-name>viewAchievementsServlet</servlet-name>
    <servlet-class>controller.viewAchievementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAchievementsServlet</servlet-name>
    <url-pattern>/viewAchievementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>apllyPromotionServlet</display-name>
    <servlet-name>apllyPromotionServlet</servlet-name>
    <servlet-class>controller.apllyPromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>apllyPromotionServlet</servlet-name>
    <url-pattern>/apllyPromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewPromotionsServlet</display-name>
    <servlet-name>viewPromotionsServlet</servlet-name>
    <servlet-class>controller.viewPromotionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewPromotionsServlet</servlet-name>
    <url-pattern>/viewPromotionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>applyTransferServlet</display-name>
    <servlet-name>applyTransferServlet</servlet-name>
    <servlet-class>controller.applyTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>applyTransferServlet</servlet-name>
    <url-pattern>/applyTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setTransferServlet</display-name>
    <servlet-name>setTransferServlet</servlet-name>
    <servlet-class>controller.setTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setTransferServlet</servlet-name>
    <url-pattern>/setTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewTransferServlet</display-name>
    <servlet-name>viewTransferServlet</servlet-name>
    <servlet-class>controller.viewTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewTransferServlet</servlet-name>
    <url-pattern>/viewTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getEmployeesServlet</display-name>
    <servlet-name>getEmployeesServlet</servlet-name>
    <servlet-class>controller.getEmployeesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getEmployeesServlet</servlet-name>
    <url-pattern>/getEmployeesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerReviewServlet</display-name>
    <servlet-name>managerReviewServlet</servlet-name>
    <servlet-class>controller.managerReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerReviewServlet</servlet-name>
    <url-pattern>/managerReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewReviewServlet</display-name>
    <servlet-name>viewReviewServlet</servlet-name>
    <servlet-class>controller.viewReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewReviewServlet</servlet-name>
    <url-pattern>/viewReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerTransferRequestsServlet</display-name>
    <servlet-name>managerTransferRequestsServlet</servlet-name>
    <servlet-class>controller.managerTransferRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerTransferRequestsServlet</servlet-name>
    <url-pattern>/managerTransferRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setManagerTransferResponseServlet</display-name>
    <servlet-name>setManagerTransferResponseServlet</servlet-name>
    <servlet-class>controller.setManagerTransferResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setManagerTransferResponseServlet</servlet-name>
    <url-pattern>/setManagerTransferResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setDirectorTransferResponseServlet</display-name>
    <servlet-name>setDirectorTransferResponseServlet</servlet-name>
    <servlet-class>controller.setDirectorTransferResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setDirectorTransferResponseServlet</servlet-name>
    <url-pattern>/setDirectorTransferResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>directorTransferRequestsServlet</display-name>
    <servlet-name>directorTransferRequestsServlet</servlet-name>
    <servlet-class>controller.directorTransferRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>directorTransferRequestsServlet</servlet-name>
    <url-pattern>/directorTransferRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vpTransferRequestsServlet</display-name>
    <servlet-name>vpTransferRequestsServlet</servlet-name>
    <servlet-class>controller.vpTransferRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vpTransferRequestsServlet</servlet-name>
    <url-pattern>/vpTransferRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setVPTransferResponseServlet</display-name>
    <servlet-name>setVPTransferResponseServlet</servlet-name>
    <servlet-class>controller.setVPTransferResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setVPTransferResponseServlet</servlet-name>
    <url-pattern>/setVPTransferResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>directorViewAchievementsServlet</display-name>
    <servlet-name>directorViewAchievementsServlet</servlet-name>
    <servlet-class>controller.directorViewAchievementsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>directorViewAchievementsServlet</servlet-name>
    <url-pattern>/directorViewAchievementsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>canPromotionServlet</display-name>
    <servlet-name>canPromotionServlet</servlet-name>
    <servlet-class>controller.canPromotionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>canPromotionServlet</servlet-name>
    <url-pattern>/canPromotionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>managerPromotionRequestsServlet</display-name>
    <servlet-name>managerPromotionRequestsServlet</servlet-name>
    <servlet-class>controller.managerPromotionRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>managerPromotionRequestsServlet</servlet-name>
    <url-pattern>/managerPromotionRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setManagerPromotionResponseServlet</display-name>
    <servlet-name>setManagerPromotionResponseServlet</servlet-name>
    <servlet-class>controller.setManagerPromotionResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setManagerPromotionResponseServlet</servlet-name>
    <url-pattern>/setManagerPromotionResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>directorPromotionRequestsServlet</display-name>
    <servlet-name>directorPromotionRequestsServlet</servlet-name>
    <servlet-class>controller.directorPromotionRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>directorPromotionRequestsServlet</servlet-name>
    <url-pattern>/directorPromotionRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setDirectorPromotionResponseServlet</display-name>
    <servlet-name>setDirectorPromotionResponseServlet</servlet-name>
    <servlet-class>controller.setDirectorPromotionResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setDirectorPromotionResponseServlet</servlet-name>
    <url-pattern>/setDirectorPromotionResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>vpPromotionRequestsServlet</display-name>
    <servlet-name>vpPromotionRequestsServlet</servlet-name>
    <servlet-class>controller.vpPromotionRequestsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>vpPromotionRequestsServlet</servlet-name>
    <url-pattern>/vpPromotionRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setVPPromotionResponseServlet</display-name>
    <servlet-name>setVPPromotionResponseServlet</servlet-name>
    <servlet-class>controller.setVPPromotionResponseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setVPPromotionResponseServlet</servlet-name>
    <url-pattern>/setVPPromotionResponseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllTransferServlet</display-name>
    <servlet-name>viewAllTransferServlet</servlet-name>
    <servlet-class>controller.viewAllTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllTransferServlet</servlet-name>
    <url-pattern>/viewAllTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewAllPromotionsServlet</display-name>
    <servlet-name>viewAllPromotionsServlet</servlet-name>
    <servlet-class>controller.viewAllPromotionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewAllPromotionsServlet</servlet-name>
    <url-pattern>/viewAllPromotionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>setYearlyIncreaseServlet</display-name>
    <servlet-name>setYearlyIncreaseServlet</servlet-name>
    <servlet-class>controller.setYearlyIncreaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>setYearlyIncreaseServlet</servlet-name>
    <url-pattern>/setYearlyIncreaseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewEmployeeServlet</display-name>
    <servlet-name>addNewEmployeeServlet</servlet-name>
    <servlet-class>controller.addNewEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewEmployeeServlet</servlet-name>
    <url-pattern>/addNewEmployeeServlet</url-pattern>
  </servlet-mapping>
</web-app>